.text-sample {
      -fx-font-size: 16px;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
  }

.categories {
    -fx-background-radius: 20px;
    -fx-background-color:  #3162BF;
}

.categories:hover {
    -fx-background-color: #5782D5;
}

/*.categories:pressed {
    -fx-background-color: #173979;
}*/

.selected_category {
    -fx-background-color: #173979;
}

.selected_category:hover {
    -fx-background-color: #173979;
}

#buy_button {
    -fx-background-radius: 15px;
    /*-fx-text-fill: white;

    -fx-font-size: 18px;*/
}

#product {
    -fx-background-color: #FFFFFF
}

.product_images {
    -fx-background-radius: 10px;
}

.detailView_Style {
    -fx-background-radius: 20px;
    -fx-background-color: #FFFFFF;
}

.selection_buttons {
    -fx-background-radius: 10px;
    -fx-background-color: #3162BF;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.selection_buttons:hover {
    -fx-background-color: #5782D5;
}

